{% extends 'Livebook/base.html' %}
{% block content %}
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">Профиль</a></li>
            <li><a href="#tab2" data-toggle="tab">Рецензии</a></li>
            <li><a href="#tab3" data-toggle="tab">Оценки</a></li>
            <li><a href="#tab4" data-toggle="tab">Книги</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="row prof">
                    <img class="avatar col-md-3" src="../../static/img/disk000.jpg">

                    <div class="col-md-9">
                        <div class="row">Имя пользователя: {{ user.name }} {{ user.surname }}</div>
                        <div class="row">Дата рождения: {{ user.birthday }}</div>
                        <div class="row">Адрес: {{ user.address }}</div>
                        <div class="row">О себе: {{ user.information }}</div>
                        <div class="row">Хобби: {{ user.hobby }}</div>
                        <div class="row">Предпочитаемый жанр:</div>
                        <!--here must be a super function, which is a feature of site -->

                    </div>

                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <p class="title">Мои рецензии</p>

                {% for review in reviews %}
                    <div class="col-md-5 jumbotron-white book">
                        <div class="row">Название рецензии: {{ review.title }}</div>
                        <div class="row">Дата: {{ review.date }}</div>
                        <div class="row">Текст рецензии: {{ review.text }}</div>
                    </div>
                {% endfor %}
                {% if is_paginated %}
                    <nav>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li><a href="/news?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                            {% endif %}
                            <li><a href="#">{{ page_obj.number }}</a></li>
                            {% if page_obj.has_next %}
                                <li><a href="/news?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            </div>
            <div class="tab-pane" id="tab3">
                <p class="title"> Мои оценки</p>

                <div class="row jumbotron-white">
                    <div class="row">Название книги</div>
                    <div class="row">Пользователь</div>
                    <div class="row">Оценка</div>
                </div>
                <div class="row jumbotron-white">
                    <div class="row">Название книги</div>
                    <div class="row">Пользователь</div>
                    <div class="row">Оценка</div>
                </div>
                <div class="row jumbotron-white">
                    <div class="row">Название книги</div>
                    <div class="row">Пользователь</div>
                    <div class="row">Оценка</div>
                </div>
            </div>
            <div class="tab-pane " id="tab4">
                <p class="title">Мои книги</p>
                <button onclick="reg()">Добавить книгу</button>
            </div>
        </div>
    </div>
{% endblock %}
