{% extends 'Livebook/base.html' %}

{% block content %}
 {% for item in news %}
        <div class="col-md-5 jumbotron-white book" >
            <p>{{ item.date }}</p>
            <div class="row">
                <a class="book-title">{{ item.title }}</a>
            </div>
            <p>{{ item.text }}</p>

        </div>
    {% endfor %}
    {% if is_paginated %}
         <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                   <li> <a href="/news?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                <li><a href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                  <li>  <a href="/news?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
       </nav>
    {% endif %}

{% endblock %}


