{% extends 'Livebook/base.html' %}

{% block content %}
                <div class="row">
                    <input type="radio">По году
                    <input type="radio">По автору
                    <input type="radio">По жанру
                </div>

                <div class="row prof">
                    <a class="row">«Властелин колец» — Джон Р. Р. Толкин</a>
                    <a class="row">«Властелин колец» — Джон Р. Р. Толкин</a>
                    <a class="row">«Властелин колец» — Джон Р. Р. Толкин</a>
                    <a class="row">«Властелин колец» — Джон Р. Р. Толкин</a>
                    <a class="row">«Властелин колец» — Джон Р. Р. Толкин</a>
                    <a class="row">«Властелин колец» — Джон Р. Р. Толкин</a>
                    <a class="row">«Властелин колец» — Джон Р. Р. Толкин</a>
                    <a class="row">«Властелин колец» — Джон Р. Р. Толкин</a>
                    <a class="row">«Властелин колец» — Джон Р. Р. Толкин</a>
                </div>
{% endblock %}
