{% extends 'Livebook/base.html' %}

{% block content %}


     {% for review in reviews %}
        <div class="col-md-5 jumbotron-white book" >
            <p>{{ review.date }}</p>
            <div class="row">
                <a class="book-title" href="{% url 'book' 1 %}">{{ review.book.name }}</a>
            </div>
            <p>Автор: {{ review.user.name }}</p>
            <p>{{ review.text }}</p>

        </div>
    {% endfor %}
    {% if is_paginated %}
         <nav>
            <ul class="pagination">
                {% if page_obj.has_previous %}
                   <li> <a href="/reviews?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% endif %}
                <li><a href="#">{{ page_obj.number }}</a></li>
                {% if page_obj.has_next %}
                  <li>  <a href="/reviews?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                {% endif %}
            </ul>
       </nav>
    {% endif %}

{% endblock %}